.header {
    margin-top:60px ;
    background-image: url(../../img/bg_intro_m.png);
    background-size: cover;
  .header_top-wrapper{
    position: absolute;
    width: 90%;
    top: 0.9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 1.125rem;
    // padding-top: 0.9375rem;
    .burger-menu {
      position: relative;
      display: block;     
      width: 45px;
      height: 45px;
      background-color: transparent;
      border:none;
      border-radius: 8px;
      outline: none;
      cursor: pointer;
      .menu_span {
        position: relative;
        display: block;
        right: -0.625rem;
        width: 31px;
        height: 3px;
        background-color: @red;
        border-radius: 100px;
        transition: @transition;
      }
      .menu_span--one{
        top: 3px;
      }

      .menu_span--top {
        position: relative;
        opacity: 1;
        right: 1px;
        bottom: 13px;
        display: block;
        content: '';
        width: 43px;
        height: 3px;
        background-color: @dark;
        border-radius: 100px;
        transform: translateY(0);
        transition: @transition;



      }
      .menu_span--bottom {
        opacity: 1;
        position: relative;
        right: 1px;
        top: 4px;
        display: block;
        content: '';
        width: 43px;
        height: 3px;
        background-color: @dark;
        border-radius: 100px;
        transition: @transition;

      }
      .menu_span--top--active {
        opacity: 0;
        transform: translate( 0 ,-10px);
      }
      .menu_span--bottom--active {
        opacity: 0;
        transform: translate(0,10px);
      }


      .menu_span--one--active {
        transform: rotate(45deg);
        background-color: @dark;
        &::before{
          opacity: 0;
          transform: translateY(-100px);
        }
      }
      .menu_span--two--active {
        transform: rotate(-45deg);
        background-color: @dark;
        &::before{
          opacity: 0;
          transform: translateY(100px);
        }
      }
    }
    .header_nav {
      opacity: 0;
      position: absolute;
      min-width: 53.5%;
      top: 100%;
      right: -5%;
      background-color: @white;
      border-radius: 0 0 5px 5px;
      transition: @transition;
      .nav_list {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin: 1rem 1.25rem 2rem;
        .nav_list-item {
          width: 100%;
          &:not(:last-child) {
            padding-bottom: 1.5625rem;
          }
          .list-item-link {
            color: @dark;
            text-decoration: none;
          }
        }
      }

    }
    .nav--active {
      opacity: 1;
    }
  }
  
  .header_intro {
    .header_intro_wrapper {
      padding: 3.75rem 0;
      color: @white;
      .header_intro-title {
        font-size: 3.125rem;
        font-family: 'Rubik_medium';
        line-height: 105%;
        text-align: center;
      }
      .intro-title--fsz23 {
        font-size: 1.4375rem;
        line-height: 180.5%;
        text-align: center;
      }
      .intro-title--fsz28 {
        font-size: 1.75rem;
        font-family: 'Rubik_medium';
        line-height: 136%;
        text-align: center;
      }
      .header_intro-text {
        margin: 0.9375rem auto 14.5rem;
      }
      .header_intro-gift {
        position: absolute;
        bottom: 1%;
        right: -1%;
      }
      .header_intro-btn {
        position: relative;
        display: block;
        width: 80%;
        height: 70px;
        top: 2.5rem;
        margin: 0 auto;
        margin-bottom: 2.5rem;
        border: none;
        border-radius: 100px;
        color: @white;
        background-color: @red;
        z-index: 2;
      }
    }
  }
}
